.ant-list-items {
    margin: 10px auto;
    border: 2px solid #ffbe00;
    background-color: #fff3cd;
    width: 80%;
    padding: 10px 30px;
    border-radius: 10px;
    text-align: center;
}

.ant-list-item {
    margin-bottom: 20px;
}