#leagueText {
    margin: 10px auto;
    width: 60%;
}

#leagueText-title {
    text-align: center;
    background-color: #ffbe00;
    transform: skew(-30deg);
    height: 40px;
    line-height: 40px;
}

#leagueText-title span {
    color: rgba(0,0,0,0.85);
    transform: skew(30deg);
    display: inline-block;
}