.match-detail {
    width: 60%;
    margin: 20px auto;
}

.match-progress {
    width: 80%;
}

.ant-progress-text {
    display: contents;
}

.vote-form {
    width: 80%;
    margin: 5px auto;
}

.vote-form button {
    margin: 5px auto;
}